{% extends "base.html" %}

{% load static %}
{% load pag_extra %}

{% block content %}

<div class="vs-wave-shape style3">
    <svg viewBox="0 0 1920 195" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="wave-path" fill-rule="evenodd" clip-rule="evenodd" d="M1920 295V202.758C1906.48 131.342 1843.63 77.168 1768.34 77.168C1739.37 77.168 1711.54 85.1814 1687.4 100.128C1650.68 38.4074 1584.56 0 1511.11 0C1412.1 0 1329.2 70.2842 1309.68 163.577C1294.03 136.928 1265.08 119 1232 119C1215.11 119 1198.88 123.673 1184.8 132.389C1163.39 96.397 1124.83 74 1082 74C1022.17 74 972.422 118.018 963.444 175.369C947.459 160.855 926.246 152 903 152C886.11 152 869.88 156.673 855.803 165.389C834.387 129.397 795.832 107 753 107C710.158 107 672.487 129.569 651.251 163.442C635.542 150.075 615.199 142 593 142C576.11 142 559.88 146.673 545.803 155.389C524.387 119.397 485.832 97 443 97C400.012 97 362.23 119.723 341.034 153.789C324.552 132.631 298.841 119 270 119C253.11 119 236.88 123.673 222.803 132.389C201.387 96.397 162.832 74 120 74C53.8333 74 0.000244141 127.833 0.000244141 194C0.000244141 194.41 0.000244141 194.835 0.0152435 195.245L0.000244141 195.248V295H1920Z" />
    </svg>
</div>

<div class="breadcumb-wrapper ">
    <div class="container z-index-common">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Новости</h1>
            <p class="breadcumb-text">Заметки о самых интересных событиях наших дней.</p>
            <div class="breadcumb-menu-wrap">
                <ul class="breadcumb-menu">
                    <li><a href="index.html">Главная</a></li>
                    <li>Новости</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="vs-blog-wrapper space-top space-extra-bottom">
    <div class="container">
        <div class="row gx-40">
            <div class="col-lg-8">
                {% for blog in page_obj %}
                <div class="vs-blog blog-single has-post-thumbnail">
                    <div class="blog-img">
                        <a href="{% url 'blog:blog_details' blog.slug %}"><img src="{{ blog.main_image.url }}" alt="Blog Image"></a>
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <a href="{% url 'blog:blog_details' blog.slug %}"><i class="far fa-calendar-alt"></i>{{ blog.pub_date }}</a>
                            <a href="{% url 'blog:blog_details' blog.slug %}">Категория: {{ blog.category.name }}</a>
                        </div>
                        <h2 class="blog-title"><a href="{% url 'blog:blog_details' blog.slug %}">{{ blog.title }}</a></h2>
                        <p class="blog-text">{{ blog.text|truncatechars:300|safe }}</p>
                        <a href="{% url 'blog:blog_details' blog.slug %}" class="vs-btn style2">Подробнее</a>
                    </div>
                </div>
                {% endfor %}
                {% if page_obj.has_other_pages %}
                    <div class="vs-pagination">
                        {% if page_obj.has_previous %}
                        <a href="{% relative_url page_obj.previous_page_number 'page' request.GET.urlencode %}" class="pagi-btn">Предыдущая</a>
                        {% endif %}
                        <ul>
                            {% for i in page_obj.paginator.page_range %}
                                {% if i == page_obj.number %}
                                    <li class="active"><span>{{ i }}</span></li>
                                {% else %}
                                    {% if i > page_obj.number|add:"-3" and i < page_obj.number|add:"3" %}
                                        <li><a href="{% relative_url i 'page' request.GET.urlencode %}">{{ i }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.paginator.num_pages > 5 and page_obj.number < page_obj.paginator.num_pages|add:"-2" %}
                                <li><span>...</span></li>
                                <li><a href="{% relative_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}">{{ page_obj.paginator.num_pages }}</a></li>
                            {% endif %}
                        </ul>
                        {% if page_obj.has_next %}
                        <a href="{% relative_url page_obj.next_page_number 'page' request.GET.urlencode %}" class="pagi-btn">Следующая</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <div class="col-lg-4">
                <aside class="sidebar-area">
                    <div class="widget widget_search   ">
                        <h3 class="widget_title">Поиск</h3>
                        <form method='get' class="search-form">
                            <input type="text" name="news_search" placeholder="Введите для поиска">
                            <button type="submit" ><i class="far fa-search"></i></button>
                        </form>
                    </div>
                    <div class="widget widget_categories   ">
                        <h3 class="widget_title">Категории</h3>
                        <form method="get">
                            <ul>
                                <li>
                                    <div class="col-auto form-group">
                                        <a href="{% url 'blog:blog_list' %}">Все новости</a>
                                    </div>
                                </li>
                                {% for category in categories %}
                                <li>
                                    <div class="col-auto form-group">
                                        <a href="{% url 'blog:blog_list' %}?category_slug={{ category.slug }}">{{ category.name }}</a>
                                    </div>
                                </li>
                                {% comment %} <li>
                                    <div class="col-auto form-group">
                                        <button class="vs-btn shadow-none" value="{{ category.slug }}" type="submit" name="category_slug">{{ category.name }}</button>
                                    </div>
                                </li> {% endcomment %}
                                {% endfor %}
                            </ul>
                        </form>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>
{% endblock %}