{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="breadcumb-wrapper ">
    <div class="container z-index-common">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Страница новости</h1>
            <p class="breadcumb-text">Читайте последние обновления и важные события.</p>
            <div class="breadcumb-menu-wrap">
                <ul class="breadcumb-menu">
                    <li><a href="{% url 'schooling:index' %}">Главная</a></li>
                    <li><a href="{% url 'blog:blog_list' %}">Новости</a></li>
                    <li>{{ blog.title }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="vs-blog-wrapper blog-details space-top space-extra-bottom">
    <div class="container">
        <div class="row gx-40">
            <div class="col-lg-12">
                <div class="vs-blog blog-single">
                    <div class="blog-img">
                        <img src="{{ blog.main_image.url }}" alt="Blog Image">
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <a><i class="far fa-calendar-alt"></i>{{ blog.pub_date }}</a>
                            <p>{{ blog.category.name }}</p>
                        </div>
                        <h2 class="blog-title">{{ blog.title }}</h2>
                        <p>{{ blog.text|safe }}</p>
                    <div class="share-links clearfix  ">
                        <div class="row justify-content-between">
                            <div class="col-xl-auto">
                                <span class="share-links-title">Теги:</span>
                                <div class="tagcloud">
                                    {% for tag in tags %}
                                    <a href="{% url 'blog:blog_list' %}?tag={{ tag.slug }}">{{ tag.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}