<tr class="cart_item">
    <td data-title="Parameter">
        <a class="cart-productname">Полное наименование банка</a>
    </td>
    <td data-title="Value">
        <a class="cart-productname">{{ charity.full_name }}</a>
    </td>
</tr>
<tr class="cart_item">
    <td data-title="Parameter">
        <a class="cart-productname">Сокращенное наименование банка</a>
    </td>
    <td data-title="Value">
        <a class="cart-productname">{{ charity.short_name }}</a>
    </td>
</tr>
<tr class="cart_item">
    <td data-title="Parameter">
        <a class="cart-productname">Юридический адрес</a>
    </td>
    <td data-title="Value">
        <a class="cart-productname">{{ charity.address }}</a>
    </td>
</tr>
<tr class="cart_item">
    <td data-title="Parameter">
        <a class="cart-productname">Почтовый адрес</a>
    </td>
    <td data-title="Value">
        <a class="cart-productname">{{ charity.mail_address }}</a>
    </td>
</tr>
<tr class="cart_item">
    <td data-title="Parameter">
        <a class="cart-productname">Корр. счет</a>
    </td>
    <td data-title="Value">
        <a class="cart-productname">{{ charity.correspondent }}</a>
    </td>
</tr>
<tr class="cart_item">
    <td data-title="Parameter">
        <a class="cart-productname">Расчетный счет</a>
    </td>
    <td data-title="Value">
        <a class="cart-productname">{{ charity.checking }}</a>
    </td>
</tr>
<tr class="cart_item">
    <td data-title="Parameter">
        <a class="cart-productname">БИК</a>
    </td>
    <td data-title="Value">
        <a class="cart-productname">{{ charity.bik }}</a>
    </td>
</tr>
<tr class="cart_item">
    <td data-title="Parameter">
        <a class="cart-productname">ИНН / КПП</a>
    </td>
    <td data-title="Value">
        <a class="cart-productname">{{ charity.inn }}</a>
    </td>
</tr>
<tr class="cart_item">
    <td colspan="2">&nbsp;</td>
</tr>