{% load static %}

<header class="vs-header header-layout1">
    <div class="header-top">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-auto d-none d-lg-block">
                    <div class="header-links style-white">
                        <ul>
                            <li><a href="#" class="searchBoxTggler"><i class="far fa-search"></i>Поиск</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-auto text-center">
                    <div class="header-links style2 style-white">
                        <ul>
                            <li><i class="fas fa-envelope"></i>Почта: <a href="mailto:deti-tepldom@mail.ru">deti-tepldom@mail.ru</a></li>
                            <li><i class="fas fa-mobile-alt"></i>Телефон: <a href="tel:+79616956875">+7 (961) 695–68–75</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sticky-wrap">
        <div class="sticky-active">
            <div class="container">
                <div class="row gx-3 align-items-center justify-content-between">
                    <div class="col-8 col-sm-auto">
                        <div class="header-logo">
                            <a href="{% url "schooling:index" %}">
                                <img src="{% static "/img/logo.png" %}" alt="logo">
                            </a>
                        </div>
                    </div>
                    <div class="col text-end text-lg-center">
                        <nav class="main-menu menu-style1 d-none d-lg-block">
                            <ul>
                                <li>
                                    <a href="{% url "schooling:index" %}">Главная</a>
                                </li>
                                <li>
                                    <a href="{% url 'support:about' %}">О нас</a>
                                </li>
                                <li>
                                    <a href="{% url 'schooling:projects' %}">Проекты</a>
                                </li>
                                <li>
                                    <a href="{% url 'blog:blog_list' %}">Новости</a>
                                </li>
                                <li>
                                    <a href="{% url 'support:contacts' %}">Контакты</a>
                                </li>
                                <li>
                                    <a href="{% url 'support:usefull_links' %}">Полезные ссылки</a>
                                </li>
                            </ul>
                        </nav>
                        <button class="vs-menu-toggle d-inline-block d-lg-none"><i class="fal fa-bars"></i></button>
                    </div>
                    <div class="col-auto  d-none d-lg-block">
                        <div class="header-icons">
                            <button class="simple-icon sideMenuToggler"><i class="far fa-bars"></i></button>
                        </div>
                    </div>
                    <div class="col-auto d-none d-xl-block">
                        <a href="{% url 'support:faq' %}" class="vs-btn">Получение услуг</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>