{% load static %}

<div class="vs-menu-wrapper">
    <div class="vs-menu-area text-center">
        <button class="vs-menu-toggle"><i class="fal fa-times"></i></button>
        <div class="mobile-logo">
            <a href="{% url "schooling:index" %}"><img src="{% static "/img/logo.png" %}" alt="Kiddino"></a>
        </div>
        <div class="vs-mobile-menu">
            <ul>
                <li>
                    <a href="{% url "schooling:index" %}">Главная</a>
                </li>
                <li>
                    <a href="{% url 'support:about' %}">О нас</a>
                </li>
                <li>
                    <a href="{% url 'schooling:projects' %}">Проекты</a>
                </li>
                <li>
                    <a href="{% url 'blog:blog_list' %}">Новости</a>
                </li>
                <li>
                    <a href="{% url 'support:contacts' %}">Контакты</a>
                </li>
                <li>
                    <a href="{% url 'support:usefull_links' %}">Полезные ссылки</a>
                </li>
            </ul>
        </div>
    </div>
</div>