{% extends "base.html" %}

{% load static %}

{% block content %}

<section class="vs-hero-wrapper  ">
    <div class="vs-hero-carousel" data-height="1050" data-container="1900" data-slidertype="responsive" data-globalbgcolor="#2DA0A4">
        <div class="ls-slide" data-ls="duration:12000; transition2d:5; kenburnsscale:1.2;">
            <img width="1920" height="295" src="{% static "img/hero/h-s-2-2.png" %}" class="ls-l ls-img-layer" alt="bg" decoding="async" style="font-size:36px; color:#000; stroke:#000; stroke-width:0px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; top:775px; left:-10px; -webkit-background-clip:border-box;" data-ls="static:forever;">
            <img width="708" height="710" src="{% static "img/hero/hero-2-1.png" %}" class="ls-l ls-hide-phone ls-img-layer" alt="bg" decoding="async" style="font-size:36px; color:#000; stroke:#000; stroke-width:0px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; top:123px; left:830px; -webkit-background-clip:border-box;" data-ls="parallax:true; parallaxlevel:4; parallaxevent:cursor;">
            <img width="552" height="616" src="{% static "img/hero/h-s-2-1.png" %}" class="ls-l ls-hide-phone ls-img-layer" alt="bg" decoding="async" style="font-size:36px; color:#000; stroke:#000; stroke-width:0px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; top:170px; left:1171px; -webkit-background-clip:border-box;" data-ls="parallax:true; parallaxlevel:3; parallaxevent:cursor;">
            <h1 style="font-size:70px; stroke:#000; stroke-width:0px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; color:#ffffff; font-family:'Fredoka', sans-serif; line-height:70px; font-weight:600; left:310px; top:305px; -webkit-background-clip:border-box;" class="ls-l ls-hide-tablet ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; easingin:easeOutQuint;">
                
            </h1>
            <h1 style="font-size:70px; stroke:#000; stroke-width:0px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; color:#ffffff; font-family:'Fredoka', sans-serif; line-height:70px; font-weight:600; left:310px; top:374px; -webkit-background-clip:border-box;" class="ls-l ls-hide-tablet ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; delayin:300; easingin:easeOutQuint;">
                Теплый дом
            </h1>
            <h1 style="font-size:70px; stroke:#000; stroke-width:0px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; color:#ffffff; font-family:'Fredoka', sans-serif; line-height:70px; font-weight:600; left:310px; top:445px; -webkit-background-clip:border-box;" class="ls-l ls-hide-tablet ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; delayin:600; easingin:easeOutQuint;">
                
            </h1>
            <p style="font-size:24px; stroke:#000; stroke-width:0px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; font-family:'Jost', sans-serif;; color:#ffffff; left:315px; top:535px; -webkit-background-clip:border-box;" class="ls-l ls-hide-tablet ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; delayin:800; easingin:easeOutQuint;">Автономная некоммерческая организация</p>
            <p style="font-size:24px; stroke:#000; stroke-width:0px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; font-family:'Jost', sans-serif;; color:#ffffff; left:315px; top:573px; -webkit-background-clip:border-box;" class="ls-l ls-hide-tablet ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; delayin:900; easingin:easeOutQuint;">социального обслуживания населения.</p>
            <h1 style="font-size:90px; stroke:#000; stroke-width:0px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; color:#ffffff; font-family:'Fredoka', sans-serif; line-height:90px; font-weight:600; left:150px; top:149px; -webkit-background-clip:border-box;" class="ls-l ls-hide-desktop ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; easingin:easeOutQuint;">
                
            </h1>
            <h1 style="font-size:90px; stroke:#000; stroke-width:0px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; color:#ffffff; font-family:'Fredoka', sans-serif; line-height:90px; font-weight:600; left:150px; top:245px; -webkit-background-clip:border-box;" class="ls-l ls-hide-desktop ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; delayin:300; easingin:easeOutQuint;">
                Теплый дом
            </h1>
            <h1 style="font-size:90px; stroke:#000; stroke-width:0px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; color:#ffffff; font-family:'Fredoka', sans-serif; line-height:90px; font-weight:600; left:150px; top:351px; -webkit-background-clip:border-box;" class="ls-l ls-hide-desktop ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; delayin:600; easingin:easeOutQuint;">
                
            </h1>
            <p style="font-size:34px; stroke:#000; stroke-width:0px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; font-family:'Jost', sans-serif;; color:#ffffff; left:150px; top:477px; -webkit-background-clip:border-box;" class="ls-l ls-hide-desktop ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; delayin:800; easingin:easeOutQuint;">Автономная некоммерческая организация</p>
            <p style="stroke:#000; stroke-width:0px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; font-family:'Jost', sans-serif;; color:#ffffff; left:150px; top:538px; font-size:34px; -webkit-background-clip:border-box;" class="ls-l ls-hide-desktop ls-hide-phone ls-text-layer" data-ls="offsetxin:-100; delayin:900; easingin:easeOutQuint;">социального обслуживания населения.</p>
            <h1 style="stroke:#000; stroke-width:0px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; color:#ffffff; font-family:'Fredoka', sans-serif; line-height:110px; font-weight:600; left:100px; top:90px; font-size:110px; -webkit-background-clip:border-box;" class="ls-l ls-hide-desktop ls-hide-tablet ls-text-layer" data-ls="offsetxin:-100; easingin:easeOutQuint;">
                
            </h1>
            <h1 style="stroke:#000; stroke-width:0px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; color:#ffffff; font-family:'Fredoka', sans-serif; line-height:110px; font-weight:600; left:100px; top:236px; font-size:110px; -webkit-background-clip:border-box;" class="ls-l ls-hide-desktop ls-hide-tablet ls-text-layer" data-ls="offsetxin:-100; delayin:300; easingin:easeOutQuint;">
                
            </h1>
            <h1 style="font-size:110px; stroke:#000; stroke-width:0px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; color:#ffffff; font-family:'Fredoka', sans-serif; line-height:110px; font-weight:600; left:100px; top:380px; -webkit-background-clip:border-box;" class="ls-l ls-hide-desktop ls-hide-tablet ls-text-layer" data-ls="offsetxin:-100; delayin:600; easingin:easeOutQuint;">
                Теплый дом
            </h1>
            <img width="708" height="710" src="{% static "img/hero/hero-2-1.png" %}" class="ls-l ls-hide-desktop ls-hide-tablet ls-img-layer" alt="bg" decoding="async" style="font-size:36px; color:#000; stroke:#000; stroke-width:0px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; top:47px; left:1003px; -webkit-background-clip:border-box;" data-ls="parallax:true; parallaxlevel:4; parallaxevent:cursor;">
            <img width="552" height="616" src="{% static "img/hero/h-s-2-1.png" %}" class="ls-l ls-hide-desktop ls-hide-tablet ls-img-layer" alt="bg" decoding="async" style="font-size:36px; color:#000; stroke:#000; stroke-width:0px; text-align:left; font-style:normal; text-decoration:none; text-transform:none; font-weight:400; letter-spacing:0px; background-position:0% 0%; background-repeat:no-repeat; background-clip:border-box; overflow:visible; top:76px; left:1340px; -webkit-background-clip:border-box;" data-ls="parallax:true; parallaxlevel:3; parallaxevent:cursor;">
        </div>
    </div>
</section>

<section class=" space-extra-bottom">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-10 col-xl-9">
                <div class="title-area">
                    <div class="sec-bubble">
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                    </div>
                    <h2 class="sec-title">
                        Организация социального обслуживания населения
                    </h2>
                </div>
            </div>
        </div>
        <div class="img-box4">
            <div class="img-1 mega-hover">
                <img src="{% static "img/about/ab-3-1.jpg" %}" alt="about">
            </div>
        </div>
    </div>
</section>

<section class=" ">
    <svg class="svg-hidden">
        <clipPath id="service-clip1" clipPathUnits="objectBoundingBox">
            <path d="M0.379,0.037 C0.459,-0.006,0.558,-0.006,0.638,0.037 L0.879,0.167 C0.959,0.21,1,0.289,1,0.375 V0.635 C1,0.721,0.959,0.8,0.879,0.843 L0.638,0.973 C0.558,1,0.459,1,0.379,0.973 L0.138,0.843 C0.058,0.8,0.008,0.721,0.008,0.635 V0.375 C0.008,0.289,0.058,0.21,0.138,0.167 L0.379,0.037"></path>
        </clipPath>
    </svg>
    <div class="container">
        <div class="row justify-content-center justify-content-xl-start">
            <div class="col-lg-10 col-xl-10 text-center text-xl-start">
                <div class="title-area">
                    <span class="sec-subtitle">Кружки и общественные мероприятия</span>
                    <h2 class="sec-title">Направления оказываемых услуг</h2>
                </div>
            </div>
        </div>
        <div class="row gx-80 gy-30 pt-lg-2">
            <div class="col-md-6 col-lg-4">
                <div class="service-style2">
                    <div class="service-icon">
                        <div class="service-shape1"></div>
                        <div class="service-shape2"></div>
                        <div class="service-shape3"></div>
                        <img src="{% static "img/icon/sr-2-1.svg" %}" alt="icon">
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">Социально – педагогическое</h3>
                        <p class="service-text">Нужен ли какой-то текст?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-style2">
                    <div class="service-icon">
                        <div class="service-shape1"></div>
                        <div class="service-shape2"></div>
                        <div class="service-shape3"></div>
                        <img src="{% static "img/icon/sr-2-2.svg" %}" alt="icon">
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">Эколого – биологическое</h3>
                        <p class="service-text">Нужен ли какой-то текст?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-style2">
                    <div class="service-icon">
                        <div class="service-shape1"></div>
                        <div class="service-shape2"></div>
                        <div class="service-shape3"></div>
                        <img src="{% static "img/icon/sr-2-3.svg" %}" alt="icon">
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">Художественно – эстетическое</h3>
                        <p class="service-text">Нужен ли какой-то текст?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-style2">
                    <div class="service-icon">
                        <div class="service-shape1"></div>
                        <div class="service-shape2"></div>
                        <div class="service-shape3"></div>
                        <img src="{% static "img/icon/sr-2-4.svg" %}" alt="icon">
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">Психологическое</h3>
                        <p class="service-text">Нужен ли какой-то текст?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-style2">
                    <div class="service-icon">
                        <div class="service-shape1"></div>
                        <div class="service-shape2"></div>
                        <div class="service-shape3"></div>
                        <img src="{% static "img/icon/sr-2-5.svg" %}" alt="icon">
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">Интелектуальное</h3>
                        <p class="service-text">Нужен ли какой-то текст?</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="service-style2">
                    <div class="service-icon">
                        <div class="service-shape1"></div>
                        <div class="service-shape2"></div>
                        <div class="service-shape3"></div>
                        <img src="{% static "img/icon/sr-2-6.svg" %}" alt="icon">
                    </div>
                    <div class="service-content">
                        <h3 class="service-title">Культурологическое</h3>
                        <p class="service-text">Нужен ли какой-то текст?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="vs-wave-shape style3">
    <svg viewBox="0 0 1920 295" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="wave-path" fill-rule="evenodd" clip-rule="evenodd" d="M1920 295V202.758C1906.48 131.342 1843.63 77.168 1768.34 77.168C1739.37 77.168 1711.54 85.1814 1687.4 100.128C1650.68 38.4074 1584.56 0 1511.11 0C1412.1 0 1329.2 70.2842 1309.68 163.577C1294.03 136.928 1265.08 119 1232 119C1215.11 119 1198.88 123.673 1184.8 132.389C1163.39 96.397 1124.83 74 1082 74C1022.17 74 972.422 118.018 963.444 175.369C947.459 160.855 926.246 152 903 152C886.11 152 869.88 156.673 855.803 165.389C834.387 129.397 795.832 107 753 107C710.158 107 672.487 129.569 651.251 163.442C635.542 150.075 615.199 142 593 142C576.11 142 559.88 146.673 545.803 155.389C524.387 119.397 485.832 97 443 97C400.012 97 362.23 119.723 341.034 153.789C324.552 132.631 298.841 119 270 119C253.11 119 236.88 123.673 222.803 132.389C201.387 96.397 162.832 74 120 74C53.8333 74 0.000244141 127.833 0.000244141 194C0.000244141 194.41 0.000244141 194.835 0.0152435 195.245L0.000244141 195.248V295H1920Z" />
    </svg>
</div>
<section class=" bg-smoke " data-bg-src="{% static "img/bg/bg-con-1-1.png" %}">
    <div class="container">
        <div class="row">
            <div class="col-xl-auto col-xxl-6">
                <div class="img-box6">
                    <div class="img-1 mega-hover"><img src="{% static "img/about/con-1-1.jpg" %}" alt="image"></div>
                    <div class="img-2 mega-hover"><img src="{% static "img/about/con-1-2.jpg" %}" alt="image"></div>
                </div>
            </div>
            <div class="col-xl col-xxl-6 align-self-center">
                <h2 class="sec-title mb-3">Получить консультацию</h2>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="list-style1">
                            <ul class="list-unstyled mb-0">
                                <li>Социально-бытовые услуги</li>
                                <li>Социально-медицинские услуги</li>
                                <li>Социально-трудовые услуги</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="list-style1">
                            <ul class="list-unstyled">
                                <li>Социально-психологические услуги</li>
                                <li>Социально-педагогические услуги</li>
                                <li>Социально-правовые услуги</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <form action="#" class="form-style3">
                    <div class="row justify-content-between">
                        <div class="col-md-6 form-group">
                            <label>Ваше имя <span class="required">(Обязательно)</span></label>
                            <input type="text">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Телефон <span class="required">(Обязательно)</span></label>
                            <input type="phone">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Тема</label>
                            <input type="text">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Почта <span class="required">(Обязательно)</span></label>
                            <input type="email">
                        </div>
                        <div class="col-md-12 form-group">
                            <label>Обращения <span class="required">(Обязательно)</span></label>
                            <textarea class="form-control"></textarea>
                        </div>
                        <div class="col-auto align-self-center form-group">
                            <input type="checkbox" id="notice" name="notice" onchange="document.getElementById('submitcheck').disabled = !this.checked" />
                            <label for="notice">
                                Согласен с обработкой <br>персональных данных
                            </label>
                        </div>
                        <div class="col-auto form-group">
                            <button id="submitcheck" disabled class="vs-btn" type="submit">Отправить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class=" space space-extra-bottom">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="title-area text-center">
                    <div class="sec-bubble">
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                    </div>
                    <h2 class="sec-title">Наша галерея!</h2>
                </div>
            </div>
        </div>
        <div class="row gx-35 gy-gx filter-active">
            <div class="col-sm-6 col-lg-4 col-xl-3 filter-item">
                <div class="gallery-style1">
                    <div class="gallery-img">
                        <img src="{% static "img/gallery/gal-1-2.jpg" %}" alt="gallery">
                        <a href="{% static "img/gallery/gal-1-2.jpg" %}" class="gallery-btn popup-image"><i class="far fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 filter-item">
                <div class="gallery-style1">
                    <div class="gallery-img">
                        <img src="{% static "img/gallery/gal-1-2.jpg" %}" alt="gallery">
                        <a href="{% static "img/gallery/gal-1-2.jpg" %}" class="gallery-btn popup-image"><i class="far fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 filter-item">
                <div class="gallery-style1">
                    <div class="gallery-img">
                        <img src="{% static "img/gallery/gal-1-2.jpg" %}" alt="gallery">
                        <a href="{% static "img/gallery/gal-1-2.jpg" %}" class="gallery-btn popup-image"><i class="far fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 filter-item">
                <div class="gallery-style1">
                    <div class="gallery-img">
                        <img src="{% static "img/gallery/gal-1-2.jpg" %}" alt="gallery">
                        <a href="{% static "img/gallery/gal-1-2.jpg" %}" class="gallery-btn popup-image"><i class="far fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 filter-item">
                <div class="gallery-style1">
                    <div class="gallery-img">
                        <img src="{% static "img/gallery/gal-1-4.jpg" %}" alt="gallery">
                        <a href="{% static "img/gallery/gal-1-4.jpg" %}" class="gallery-btn popup-image"><i class="far fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 filter-item">
                <div class="gallery-style1">
                    <div class="gallery-img">
                        <img src="{% static "img/gallery/gal-1-5.jpg" %}" alt="gallery">
                        <a href="{% static "img/gallery/gal-1-5.jpg" %}" class="gallery-btn popup-image"><i class="far fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 filter-item radius-3">
                <div class="gallery-style1">
                    <div class="gallery-img">
                        <img src="{% static "img/gallery/gal-1-6.jpg" %}" alt="gallery">
                        <a href="{% static "img/gallery/gal-1-6.jpg" %}" class="gallery-btn popup-image"><i class="far fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 filter-item radius-3">
                <div class="gallery-style1">
                    <div class="gallery-img">
                        <img src="{% static "img/gallery/gal-1-6.jpg" %}" alt="gallery">
                        <a href="{% static "img/gallery/gal-1-6.jpg" %}" class="gallery-btn popup-image"><i class="far fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 filter-item radius-3">
                <div class="gallery-style1">
                    <div class="gallery-img">
                        <img src="{% static "img/gallery/gal-1-6.jpg" %}" alt="gallery">
                        <a href="{% static "img/gallery/gal-1-6.jpg" %}" class="gallery-btn popup-image"><i class="far fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 filter-item radius-3">
                <div class="gallery-style1">
                    <div class="gallery-img">
                        <img src="{% static "img/gallery/gal-1-6.jpg" %}" alt="gallery">
                        <a href="{% static "img/gallery/gal-1-6.jpg" %}" class="gallery-btn popup-image"><i class="far fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 filter-item radius-3">
                <div class="gallery-style1">
                    <div class="gallery-img">
                        <img src="{% static "img/gallery/gal-1-6.jpg" %}" alt="gallery">
                        <a href="{% static "img/gallery/gal-1-6.jpg" %}" class="gallery-btn popup-image"><i class="far fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 filter-item radius-3">
                <div class="gallery-style1">
                    <div class="gallery-img">
                        <img src="{% static "img/gallery/gal-1-6.jpg" %}" alt="gallery">
                        <a href="{% static "img/gallery/gal-1-6.jpg" %}" class="gallery-btn popup-image"><i class="far fa-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}