{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="breadcumb-wrapper ">
    <div class="container z-index-common">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">О нас</h1>
            <p class="breadcumb-text">На странице представлена краткая правовая информация.</p>
        </div>
    </div>
</div>

<section class="vs-blog-wrapper blog-details space-top">
    <div class="container">
        <div class="row gx-40">
            <div class="col-lg-12">
                <div class="vs-blog blog-single">
                    <div class="blog-content">
                        <h2 class="">Автономная некоммерческая организация социального обслуживания населения «Теплый дом».</h2>
                        <p>Мы работаем в соответствии с федеральным законом  № 442-фз от 28 декабря 2013 года «Об основах социального обслуживания граждан в российской федерации» и включены в реестр поставщиков социальных услуг волгоградской области.</p>
                        <p class="mb-30">Сведения о поставщике социальных услуг, размещаемые на официальном портале комитета социальной защиты населения Волгоградской области.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="vs-cart-wrapper  space-extra-bottom">
    <div class="container">
        <div class="woocommerce-cart-form">
            <table class="cart_table">
                <thead>
                    <tr>
                        <th class="cart-col-productname">Номер по порядку</th>
                        <th class="cart-col-productname">Индикаторы</th>
                        <th class="cart-col-price">Информация</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in table_items %}
                    <tr class="cart_item">
                        <td data-title="Product">
                            <a class="cart-productname">{{ forloop.counter }}</a>
                        </td>
                        <td data-title="Name">
                            <a class="cart-productname">{{ item.indicator|safe }}</a>
                        </td>
                        <td data-title="Price">
                            <a class="cart-productname">{{ item.info|safe }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}