{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="vs-wave-shape style3">
    <svg viewBox="0 0 1920 195" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path class="wave-path" fill-rule="evenodd" clip-rule="evenodd" d="M1920 295V202.758C1906.48 131.342 1843.63 77.168 1768.34 77.168C1739.37 77.168 1711.54 85.1814 1687.4 100.128C1650.68 38.4074 1584.56 0 1511.11 0C1412.1 0 1329.2 70.2842 1309.68 163.577C1294.03 136.928 1265.08 119 1232 119C1215.11 119 1198.88 123.673 1184.8 132.389C1163.39 96.397 1124.83 74 1082 74C1022.17 74 972.422 118.018 963.444 175.369C947.459 160.855 926.246 152 903 152C886.11 152 869.88 156.673 855.803 165.389C834.387 129.397 795.832 107 753 107C710.158 107 672.487 129.569 651.251 163.442C635.542 150.075 615.199 142 593 142C576.11 142 559.88 146.673 545.803 155.389C524.387 119.397 485.832 97 443 97C400.012 97 362.23 119.723 341.034 153.789C324.552 132.631 298.841 119 270 119C253.11 119 236.88 123.673 222.803 132.389C201.387 96.397 162.832 74 120 74C53.8333 74 0.000244141 127.833 0.000244141 194C0.000244141 194.41 0.000244141 194.835 0.0152435 195.245L0.000244141 195.248V295H1920Z" />
    </svg>
</div>

<div class="breadcumb-wrapper ">
    <div class="container z-index-common">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Контакты</h1>
            <p class="breadcumb-text">Вы всегда знаете, где нас найти.</p>
            <div class="breadcumb-menu-wrap">
                <ul class="breadcumb-menu">
                    <li><a href="index.html">Главная</a></li>
                    <li>Контакты</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class=" space-top space-extra-bottom ">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="info-style2">
                    <div class="info-icon"><img src="{% static "img/icon/c-b-1-1.svg" %}" alt="icon"></div>
                    <h3 class="info-title">Телефон</h3>
                    <p class="info-text"><a href="tel:+79616956875" class="text-inherit">+7 (961) 695–68–75</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-style2">
                    <div class="info-icon"><img src="{% static "img/icon/c-b-1-2.svg" %}" alt="icon"></div>
                    <h3 class="info-title">Понедельник – Четверг</h3>
                    <p class="info-text">16.00 – 20.00</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-style2">
                    <div class="info-icon"><img src="{% static "img/icon/c-b-1-3.svg" %}" alt="icon"></div>
                    <h3 class="info-title">Почта</h3>
                    <p class="info-text"><a href="mailto:deti-tepldom@mail.ru" class="text-inherit">deti-tepldom@mail.ru</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class=" space-extra-bottom ">
    <div class="container">
        <div class="row flex-row-reverse gx-60 justify-content-between">
            <div class="col-xl-auto">
                <img src="{% static "img/about/con-2-1.png" %}" alt="girl" class="w-100">
            </div>
            <div class="col-xl col-xxl-6 align-self-center">
                <div class="title-area">
                    <span class="sec-subtitle">Остались вопросы?</span>
                    <h2 class="sec-title">Задайте их нам!</h2>
                </div>
                <form method="post" action="{% url 'schooling:index' %}" class="form-style3 layout2">
                    <div class="row justify-content-between">
                        {% comment %}
                            <div class="col-md-6 form-group">
                                <label>Ваше имя <span class="required">(Обязательно)</span></label>
                                <input type="text">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Телефон <span class="required">(Обязательно)</span></label>
                                <input type="phone">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Тема</label>
                                <input type="text">
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Почта <span class="required">(Обязательно)</span></label>
                                <input type="email">
                            </div>
                            <div class="col-md-12 form-group">
                                <label>Обращения <span class="required">(Обязательно)</span></label>
                                <textarea class="form-control"></textarea>
                            </div>
                        {% endcomment %}

                        {% csrf_token %}

                        {{ form.as_p }}

                        <div class="col-auto align-self-center form-group">
                            <input type="checkbox" id="notice" name="notice" onchange="document.getElementById('submitcheck').disabled = !this.checked" />
                            <label for="notice">
                                Согласен с обработкой <br>персональных данных
                            </label>
                        </div>
                        <div class="col-auto form-group">
                            <button id="submitcheck" disabled class="vs-btn" type="submit">Отправить</button>
                        </div>
                        <p class="form-messages"></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class=" space-bottom">
    <div class="container">
        <div class="title-area">
            <h2 class="mt-n2">Как нас найти</h2>
        </div>
        <div class="map-style1">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A1c25c8bc54d9e641c70c7abc91ba75c155009a8601cc5aec9a5a6995c1fe8452&amp;source=constructor" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>

{% endblock %}