{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="breadcumb-wrapper ">
    <div class="container z-index-common">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Контакты</h1>
            <p class="breadcumb-text">Вы всегда знаете, где нас найти.</p>
        </div>
    </div>
</div>

<section class=" space-top space-extra-bottom ">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="info-style2">
                    <div class="info-icon"><img src="{% static "img/icon/c-b-1-1.svg" %}" alt="icon"></div>
                    <h3 class="info-title">Телефон</h3>
                    <p class="info-text"><a href="tel:+79616956875" class="text-inherit">+7 (961) 695–68–75</a></p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-style2">
                    <div class="info-icon"><img src="{% static "img/icon/c-b-1-2.svg" %}" alt="icon"></div>
                    <h3 class="info-title">Понедельник – Четверг</h3>
                    <p class="info-text">16.00 – 20.00</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-style2">
                    <div class="info-icon"><img src="{% static "img/icon/c-b-1-3.svg" %}" alt="icon"></div>
                    <h3 class="info-title">Почта</h3>
                    <p class="info-text"><a href="mailto:deti-tepldom@mail.ru" class="text-inherit">deti-tepldom@mail.ru</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class=" space-extra-bottom ">
    <div class="container">
        <div class="row flex-row-reverse gx-60 justify-content-between">
            <div class="space-bottom col-xl-auto">
                <img src="{% static "img/index/salt_room_2.jpg" %}" alt="girl" class="w-100">
            </div>
            <div class="col-xl col-xxl-6 align-self-center">
                <div class="title-area">
                    <span class="sec-subtitle">Остались вопросы?</span>
                    <h2 class="sec-title">Задайте их нам!</h2>
                </div>
                <form method="post" action="{% url 'support:contacts' %}" class="form-style3 layout2">
                    <div class="row justify-content-between">

                        {% csrf_token %}

                        {{ form.as_p }}

                        <div class="col-auto align-self-center form-group">
                            <input type="checkbox" id="notice" name="notice" onchange="document.getElementById('submitcheck').disabled = !this.checked" />
                            <label for="notice">
                                Согласен с обработкой <br>персональных данных
                            </label>
                        </div>
                        <div class="col-auto form-group">
                            <button id="submitcheck" disabled class="vs-btn" type="submit">Отправить</button>
                        </div>
                        <p class="form-messages"></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class=" space-bottom">
    <div class="container">
        <div class="title-area">
            <h2 class="mt-n2">Как нас найти</h2>
        </div>
        <div class="map-style1">
            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A1c25c8bc54d9e641c70c7abc91ba75c155009a8601cc5aec9a5a6995c1fe8452&amp;source=constructor" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>

{% endblock %}