{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="breadcumb-wrapper ">
    <div class="container z-index-common">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Вопросы</h1>
            <p class="breadcumb-text">На странице собраны ответы на самые распространенные и часто задаваемые вопросы.</p>
        </div>
    </div>
</div>

<section class=" space-top">
    <div class="container">
        <div class="img-box4">
            <div class="img-1 mega-hover">
                <img src="{% static "img/faq/skhema_soc_obsluzhivanija.jpg" %}" alt="about">
            </div>
        </div>
    </div>
</section>

<section class=" space-top">
    <div class="container">
        <div class="accordion accordion-style1" id="faqVersion3">
            {% for question in questions %}
                {% include 'includes/faq_item.html' %}
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}