{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="breadcumb-wrapper ">
    <div class="container z-index-common">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">СМИ</h1>
            <p class="breadcumb-text">Скромные герои на обложках газет и журналов!</p>
        </div>
    </div>
</div>


<div class="vs-cart-wrapper space space-extra-bottom">
    <div class="container">
        <div class="woocommerce-cart-form">
            <table class="cart_table">
                <thead>
                    <tr>
                        <th class="cart-col-productname">Номер по порядку</th>
                        <th class="cart-col-productname">Ресурс</th>
                        <th class="cart-col-price">Ссылка</th>
                    </tr>
                </thead>
                <tbody>
                    {% for media in mass_media %}
                    <tr class="cart_item">
                        <td data-title="Product">
                            <a class="cart-productname">{{ forloop.counter }}</a>
                        </td>
                        <td data-title="Name">
                            <a class="cart-productname">{{ media.name }}</a>
                        </td>
                        <td data-title="Price">
                            <a class="cart-productname" href={{ media.link }} target="_blank">{{ media.link }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}