{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="breadcumb-wrapper ">
    <div class="container z-index-common">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Команда</h1>
            <p class="breadcumb-text">Самые увлеченные своим делом люди – вот они!</p>
        </div>
    </div>
</div>

<section class=" ">
    <div class="container">
        <div class="row gx-50 ">
            {% for teammate in teammates %}
            <div class="space-top col-lg-4 align-self-center">
                <div class="team-about">
                    <h2 class="team-name">{{ teammate.full_name }}</h2>
                    <p class="team-degi">{{ teammate.position }}</p>
                    <h3 class="inner-title">Квалификация / Образование</h3>
                    <div class="title-divider2"></div>
                    <p class="team-text">{{ teammate.qualification }}</p>
                    <h3 class="inner-title">Стаж работы</h3>
                    <div class="title-divider2"></div>
                    <p class="team-text">С {{ teammate.experience }} года.</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}