{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="breadcumb-wrapper ">
    <div class="container z-index-common">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">Подробнее о проекте</h1>
            <p class="breadcumb-text">Узнайте во всех деталях и красках.</p>
            <div class="breadcumb-menu-wrap">
                <ul class="breadcumb-menu">
                    <li><a href="{% url 'schooling:index' %}">Главная</a></li>
                    <li><a href="{% url 'schooling:projects' %}">Проекты</a></li>
                    <li>{{ project.title }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section class="vs-blog-wrapper blog-details space-top space-extra-bottom">
    <div class="container">
        <div class="row gx-40">
            <div class="col-lg-12">
                <div class="vs-blog blog-single">
                    <div class="img-box7">
                        <div class="mega-hover">
                            <img src="{{ project.main_image.url }}" alt="Blog Image">
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-meta">
                            <span>
                                <i class="far fa-calendar-alt"></i>
                                {{ project.start_date|date:"Y" }} – {% if project.end_date %}{{ project.end_date|date:"Y" }} года{% else %}По настоящее время{% endif %}
                            </span>
                        </div>
                        <h2 class="blog-title">{{ project.title }}</h2>
                        <p>{{ project.text|safe }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-35 gy-gx filter-active">
            {% for product_image in project_images %}
            <div class="col-sm-6 col-lg-4 col-xl-3 filter-item">
                <div class="gallery-style1">
                    <div class="gallery-img">
                        <img src="{{ product_image.image.url }}" alt="gallery">
                        <a href="{{ product_image.image.url }}" class="gallery-btn popup-image"><i class="far fa-plus"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}